{% extends "./base.html" %}
{% load static %}

{%block title%} VISITOR RECORD {%endblock%}
{%block header%}
<!--<div class="container">-->
<!--<h1><i><a href="/">VISITOR BOOK</a></i></h1>-->
<!--    </div>-->

{%endblock%}
{%block content%}



    <style>
<!--        body{-->
<!--        background-color:#fffff;-->
<!--        text-align: center;-->
<!--        font-family: Lobster;-->
<!--        font-size: 32px;-->
<!--        border-radius:20px;-->
<!--        margin: auto #4bf41b solid;-->
<!--        padding: 30px 10px 30px 10px;-->
<!--        background-image:url("Downloads/background.jpg");-->
<!--        }-->
            legend{
            float:none !important;
            padding:inherit !important
            text-align:center;
            align:center;
            color:blue;
            }
    </style>


<div class="row">
    <div class="col-6 p-5">
       <form action =" " method="post" id="Visitor book">
           <fieldset class ="border p-4">
               <legend class="w-auto" id="legends">Organization form</legend>
               {% csrf_token %}
               {% if form.non_field_errors %}
               <div class ="alert alert-warning" role="alert">
                   {{form.non_field_errors }}
               </div>
               {% endif %}
               <div class="form-group mb-3 ">
            <label for="{{ form.organization_name.id_for_lable }}" class="form-label">Organization name:</label>
            <input type="text" class="form-control" name="{{form.organization_name.name}}"  id="{{ form.organization_name.id_for_lable }}" aria-describedby="" placeholder="enter organization name" >
        </div>
                <div class="form-group mb-3">
            <label for="{{form.mobile_number.id_for_lable}}" class="form-label">Mobile number:</label>
            <input type="text" class="form-control" name="{{form.mobile_number.name}}" id="{{form.mobile_number.id_for_lable}}" placeholder="enter mobile number">
        </div>

               <input type="submit" class="btn btn-primary" name="Submit" value="submit">

           </fieldset>
       </form>
    </div>

        {{organization}}
    </div>



{%endblock%}

