{% extends "./base.html" %}
{% load static %}

{%block title%} VISITOR RECORD {%endblock%}
{%block header%}
    <div class="container">
<h1><i><a href="/">VISITOR BOOK</a></i></h1>
         </div>
{%endblock%}
{%block content%}


<div class = container>
    <style>
        body{
        background-color:#fffff;
        text-align: center;
        font-family: Lobster;
        font-size: 32px;
        border: 
        margin: auto #4bf41b solid;
        padding: 30px 10px 30px 10px;
        }

    </style>



<form method="POST" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Using the formset -->
    {{ form.as_p }}

    <input type="submit" value="Submit">
</form>
</div>
{%endblock%}
